.signin_up {
    width: 400px;
    text-align: center;
    left: 50%;
    top: 50%;
    position: fixed;
    margin-left: -200px;
    margin-top: -200px;
    /*display:none;*/
}
.signin_up input {
    height: 30px;
    font-size: 24px;
}

.contact-book {
    left:50%;
    width:960px;
    margin-left:-480px;
    margin-top:50px;
    position: absolute;
    display:none;
}
.contact-book input {
    width:180px;
}

.contact {
    width:960px;
    text-align: center;
    heigth:40px;
}
.contact div{
    height: 40px;
    float:left;
}
.contact td {
        height: 40px;
}
.contact #fio {
    width:210px;
}
.contact #email {
    width:210px;
}
.contact #birth_date {
    width:210px;
}
.contact #phone {
    width:210px;
}
.contact #delete {
    width:100px;
}
.contactShell {
    height: 500px;
    overflow: scroll;
}
.alert{
    text-align: center;
}